body {
  background-color: teal;
  font-family: sans-serif;
  margin: 0px
}

span {
  background-color: antiquewhite;
}

/* .app-outermost {
  
} */
app.second {
  display: flex;
  flex-direction: row;
}

.user-outermost {
  background: ivory;
  /* max-width: 100%; */
}

.user-card {
  /* align-content: center; */
  background-color: rosybrown;
  /* max-width: min-content; */
  /* height: auto; */
  border: 5px solid black;
  border-radius: 8%;
}

.user-card:hover {
  cursor: pointer;
}

.user-card img {
  border-radius: 50%;
}