body {
  background-color: teal;
  font-family: sans-serif;
  margin: 0px
}

span {
  background-color: antiquewhite;
}

/* .app-outermost {
  
} */
app.second {
  background-color: antiquewhite;
}

.user-outermost {
  background: ivory;
  /* display: flex;
  justify-content: space-evenly; */
  /* max-width: 100%; */
}

.user-card {
  /* align-content: center; */
  background-color: rosybrown;
  width: 450px;
  border: 3px solid black;
  border-radius: 8%;
}

.user-card img {
  border-radius: 50%;
}

.user-card:hover {
  cursor: pointer;
}