body {
  background-color: antiquewhite;
  font-family: sans-serif;
  color: rgb(145, 114, 75);
  margin: 0px
}

h1 {
  text-decoration: underline;
}
span {
  background-color: antiquewhite;
}

/* .app-outermost {
  
} */
app.second {
  background-color: antiquewhite;
}

.about-outermost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 5px;
}
.about-blurb {

}
.chemical-card {
  width: 20%;
  background: tan;
  border-radius: 6px;
}

.user-outermost {
  background: ivory;
  /* justify-content: space-evenly; */
  max-width: 100%;
}

.user-card-outermost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 5px;
}

.user-card {
  background-color: rgb(244, 202, 230);
  width: 20%;
  border: 3px solid rgb(255, 174, 208);
  border-radius: 8%;
  overflow: hidden;
  align-self: center;
  box-shadow: 5px 3px rgb(244, 228, 208);
  margin-bottom: 5px;
}

.user-card img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.user-card:hover {
  cursor: pointer;
}